
@{
	ViewData["Title"] = "Nossos negócios";
}
@*<div class="jumbotron jumbotron-fluid">
	</div>*@
<section class="section-quote section-content pt-5">
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<figure>
					<h2>
						O que fazemos?
					</h2>
					<figcaption>
						<article class="col-md-12">
							<p style="font-size:1.5em; text-align: justify; text-justify: inter-word;">
								Afinal, quem produz um automóvel? É uma fábrica ou uma montadora? Apesar de os dois termos serem usados, fábrica é mais adequado. Mas usa-se montadora porque é grande o volume de peças, componentes que a fábrica encomenda para terceiros, os chamados fornecedores de peças ou sistemistas. O termo montadora dá a impressão de que a fábrica nada faz, apenas recebe as milhares de peças de seus fornecedores e coloca tudo na linha de montagem.

								Por outro lado, quanto maior o número de peças e componentes produzidos pela própria fábrica, mais ela é chamada de ‘verticalizada’. Embora existam alguns componentes que ela não tem condições de produzir, como: pneus, vidros, lâmpadas e outros.
							</p>
						</article>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
<!-- carousel -->
<div class="bd-example">
	<div id="carouselHome" class="carousel slide d-none d-md-block" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselHome" data-slide-to="0" class="active"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="~/images/Fabrica.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-md-block">
					<p class="h5">Nossa fábrica </p>
					<p class="carousel-text d-flex" style="flex-flow: row wrap;">
						<span>Nossa fábrica localizada em Osasco/SP conta com uma estrutura exclusiva para montagem de veículos em uma área com mais de 1000 m2, que comporta equipamentos de tecnologia de ponta. Nosso staff técnico  altamente treinado e capacitado é composto por engenheiros, técnicos, projetistas e montadores.</span>
						<a href="#" class="btn m-auto">Agendar visita</a>

					</p>

				</div>
			</div>
		</div>
	</div>
</div>
