
@{
	ViewData["Title"] = "Serviços";
}

<link rel="stylesheet" href="~/fonts/fontawesome/css/all.min.css">


<div class="row">
	<div class="col-md-4">
		<div class="card text-center mb-4 pt-4">
			<div class="card-img-top icon-wrap">
				<i style="font-size:x-large;color:#63C3AE" class="fas fa-bullseye"></i>
			</div>
			<div class="card-body">
				<h3 class="card-title">Revisão</h3>
				<p class="card-text">Mantenha seu carro sempre em ótimas condições e dirija com total tranquilidade aonde for.</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card text-center mb-4 pt-4">
			<div style="font-size:x-large;color:#63C3AE"  class="card-img-top icon-wrap">
				<i class="fas fa-puzzle-piece"></i>
			</div>
			<div class="card-body">
				<h3 class="card-title">Peças</h3>
				<p class="card-text">Conheça todas as linhas de peças disponíveis para sua BMW .</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card text-center mb-4 pt-4">
			<div style="font-size:x-large;color:#63C3AE"  class="card-img-top icon-wrap">
				<i class="fas fa-rocket"></i>
			</div>
			<div class="card-body">
				<h3 class="card-title">Sem enrolação</h3>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitlit. llamcorper quam</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card text-center mb-4 pt-4">
			<div style="font-size:x-large;color:#63C3AE"  class="card-img-top icon-wrap">
				<i class="fas fa-hands-helping"></i>
			</div>
			<div class="card-body">
				<h3 class="card-title">Funilaria e Serviços Rápidos</h3>
				<p class="card-text">Conte sempre com os nossos melhores profissionais para deixar seu carro como novo.</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card text-center mb-4 pt-4">
			<div style="font-size:x-large;color:#63C3AE"  class="card-img-top icon-wrap">
				<i class="fas fa-money-bill-wave"></i>
			</div>
			<div class="card-body">
				<h3 class="card-title">Preço justo</h3>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elitlit. llamcorper quam</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card text-center mb-4 pt-4">
			<div style="font-size:x-large;color:#63C3AE"  class="card-img-top icon-wrap">
				<i class="fas fa-smile-beam"></i>
			</div>
			<div class="card-body">
				<h3 class="card-title">Orçamento na hora</h3>
				<p class="card-text">Receba orçamento detalhado e saiba exatamente o que vai pagar.</p>
			</div>
		</div>
	</div>
</div>