<div class="container">
	<div class="row">


		<div class="col-md-12">
			<h4>Recursos</h4>
			<div class="table-responsive">

				<table id="mytable" class="table table-bordred table-striped">

					<thead>

					<th>Nome</th>
					<th>Parâmetros</th>
					<th>Descrição</th>

					</thead>
					<tbody>

						<tr>

							<td><a>Listar carro</a></td>
							<td>IDCarro</td>
							<td>Ao passar um id retorna um carro</td>
						</tr>

						<tr>

							<td><a id="listarCarros">Listar carros</a></td>
							<td>Sem parâmetros</td>
							<td>Retorna todos os carros</td>
						</tr>


						<tr>
							<td><a>Inserir pedido</a></td>
							<td>IDPedido,IDCarro,DTEntrega</td>
							<td>Registra um pedido passado o identificador do pedido,Identificador do carro e a data da entrega</td>
						</tr>

						<tr>
							<td><a>Listar pedido</a></td>
							<td>IDPedido</td>
							<td>Ao passar um id retorna um pedido</td>
						</tr>


					</tbody>

				</table>
				<div class="clearfix"></div>
				<ul class="pagination pull-right">
					<li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
				</ul>

			</div>

		</div>
	</div>
</div>
<script>

	$("#listaCarros").click(function () {
		console.log("Salda");
	});
</script>